@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply after:absolute   after:top-0 after:left-0 after:w-full after:h-full after:bg-black/20
  }
  .overlay-2 {
    @apply after:absolute   after:top-0 after:left-0 after:w-full after:h-full after:bg-[#DEFFFD]/90

  }

  .option-design {
    @apply w-full rounded-[12px] border border-transparent  transition-colors ease-out hover:border-[#01C6CA] bg-white md:min-h-[60px] cursor-pointer shadow-[0px_2px_10px_rgba(0,0,0,0.16)] flex items-center pl-4 pr-2 space-x-3 my-3 py-2 md:py-0 relative
  }

  .option-circle-design{
    @apply rounded-full flex justify-center items-center text-center w-[30px] h-[30px] bg-[#DEFFFD] text-lg mitr-fonts shadow-[1px_1px_1px_#BDD0CF] font-medium text-[#005C7D]
  }

}
body {

  /* font-family: 'Domin', serif; */
  -webkit-tap-highlight-color: transparent;
}

.option-selected{
  background-color: #00C1C6;
}

.option{
  background-color: #005C7D;
  color:white;
  box-shadow: 1px 1px 1px #129A9D;
}

.gradient-background {
  background-color: linear-gradient(180deg, #E7FEFB 0%, #6AE1D9 100%)
}

.montserat {
  font-family: 'Montserrat', sans-serif;

}
.popins {
  font-family: 'Poppins', sans-serif;

}
.mitr-fonts {
font-family: 'Mitr', sans-serif;

}
.bg-gradient {
  background: linear-gradient(180deg, #E7FEFB 0%, #6AE1D9 100%);
}
.rgba {
  background-color: rgba(255,255,255, 0.9);
}
.shadow {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
}
.times {
  font-family: 'Merriweather', serif;
  color: rgb(8, 8, 8)
}
.login-bottom-text{
  font-family: 'Roboto', sans-serif;
}
.disclaimer {

}
.center {
  left: 50%;
    transform: translate(-50%, 0);
}
.toggle{
  display: none;
}
.scale{
  transform: scale(1);
  transition: all 1s ease-in;
}
/* fonts  */
/*font-family: 'Anton', sans-serif;
font-family: 'Anybody', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Domine', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Grape Nuts', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Mitr', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Ranga', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Send Flowers', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Vazirmatn', sans-serif;*/

